.header {
    &__text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 71px;
        padding-bottom: 38px;
    }

    &__title {
        font-family: 'PT Serif';
        font-size: 36px;
        line-height: 48px;
        margin-bottom: 38px;
    }

    &__subtitle {
        font-family: 'Poppins';
        max-width: 439px;

        h3 {
            font-size: 18px;
            text-transform: uppercase;
            line-height: 27px;
            margin-bottom: 10px;
        }

        p {
            line-height: 21px;
        }
    }
}